.flex {
  display: flex;
}

.piano-container {
  height: 200px;
  width: 680px;
  background-color: aqua;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  align-items: end;
}

.keys-wrapper {
  position: relative;
}

.natural {
  height: 180px;
  width: 40px;
  padding-top: 100px;
}

.accidental {
  position: absolute;
  left: 25px;
  height: 90px;
  width: 30px;
  background-color: rgb(24, 24, 24);
  color: aliceblue;
  z-index: 999;
  padding: 0;
}
